---
import CourseCard from "../../components/CourseCard.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const coursesList = await getCollection("courses");

if (!coursesList) {
  throw new Error("Course not found");
}
---

<Layout
  title=`Cursos | Coding Latam`
  description="Aprende a programar haciendo proyectos reales"
>
  <main>
    <section class="pt-12 px-6 max-w-6xl lg:px-0 mx-auto mb-8 text-center">
      <h1 class="mb-12">
        Aprende <span class="text-primary-300">HACIENDO</span> proyectos <span
          class="text-primary-300">REALES</span
        >
      </h1>
      <p class="mb-12 max-w-4xl mx-auto">
        Descubre cursos creados para llevar tus habilidades al siguiente nivel,
        ya sea que estés empezando o busques perfeccionar tu dominio. ¡Empieza
        hoy y alcanza tus metas más rápido!
      </p>
      <div class="list grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        {coursesList.map((item) => <CourseCard {...item} />)}
      </div>
    </section>
  </main>
</Layout>
