:root {
  interpolate-size: allow-keywords;
}

body {
  @apply bg-light-black;
}

h1 {
  @apply text-[32px] leading-6 tracking-[0.4px] md:text-5xl font-bold;
}

h2 {
  @apply text-2xl leading-6 tracking-[0.4px] md:text-4xl font-bold;
}

h3 {
  @apply text-xl leading-6 tracking-[0.4px] md:text-[22px] font-bold;
}

p {
  @apply text-[14px] leading-6 tracking-[0.4px] md:text-base;
}

details {
  @apply p-5 border border-slate-200 rounded-lg mb-4 cursor-pointer;
  transition: height 0.5s ease;
  /* height: 4rem; */

  &[open] {
    height: auto;
    overflow: clip;
  }

  & p,
  & ul {
    @apply mt-4;
  }

  & ul {
    list-style: disc;
    padding-left: 20px;
  }
}

summary {
  @apply font-bold;
}
