---
import { Image } from "astro:assets";
import notFoundImage from "../assets/404.svg";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import NotFound from "../components/404";
---

<Layout
  title="404 | Coding Latam"
  description="Aprende a programar haciendo proyectos reales"
>
  <section
    class="max-w-6xl mx-auto flex flex-wrap justify-center items-center gap-8 py-24 px-4"
  >
    <NotFound />

    <p class="w-full text-center">Página no encontrada</p>
    <Link href="/" variant="fill"> Volver al inicio </Link>
  </section>
</Layout>
