---
import Layout from '../layouts/Layout.astro';
import Cursos from '../components/sections/Cursos/Cursos.astro';
import Header from '../components/headers/header.code.astro';
import NewsletterFooter from '../components/footer/Newsletter-footer.astro';
---

<Layout title="Inicio | Coding Latam">
	<main class="col-start-2 col-end-12 text-white">		
		<Header />
		<Cursos />
		<NewsletterFooter />
	</main>
</Layout>

<style>
	
</style>
