---
import { Image } from "astro:assets";
import Countdown from "../components/Countdown.astro";
import CourseCard from "../components/CourseCard.astro";
import Hero from "../components/Hero.astro";
import WorkshopCard from "../components/WorkshopCard.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import blackfridayBanner from "../assets/blackfriday.png";

const coursesList = await getCollection("courses");
const workshopsList = await getCollection("workshops");
const bannersList = await getCollection("banners");

if (!coursesList) {
  throw new Error("Course not found");
}
---

<Layout
  title="Inicio | Coding Latam"
  description="Aprende a programar haciendo proyectos reales"
>
  <!-- {bannersList.map((banner) => <Countdown {...banner.data} />)}
  <section class="max-w-full mx-auto">
    <a href="/blackfriday" class="flex min-h-[225px]">
      <Image src={blackfridayBanner} alt="Black friday" class="object-cover" />
    </a>
  </section> -->

  <Hero />
  <!-- <section
    class="jobs px-6 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 max-w-screen-xl mx-auto mb-8"
  >
    <h2
      class="col-span-1 md:col-span-2 lg:col-span-3 text-center text-white font-bold mb-6"
    >
      Ofertas de trabajo
    </h2>
    <JobCard />
    <JobCard />
    <JobCard />
    <JobCard />
    <JobCard />
    <JobCard />
  </section> -->
  <section class="px-6 lg:px-0 max-w-6xl mx-auto mb-8 text-center">
    <h2 class="mb-12 leading-8">
      Aprende <span class="text-primary-300">HACIENDO</span> proyectos <span
        class="text-primary-300">REALES</span
      >
    </h2>
    <p class="mb-12 max-w-4xl mx-auto lg:text-lg">
      Descubre cursos creados para llevar tus habilidades al siguiente nivel, ya
      sea que estés empezando o busques perfeccionar tu dominio. ¡Empieza hoy y
      alcanza tus metas más rápido!
    </p>
    <div class="list grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {coursesList.map((item) => <CourseCard {...item} />)}
    </div>
  </section>
  <section class="px-6 lg:px-0 max-w-6xl mx-auto my-16 text-center">
    <h2 class="mb-12 leading-8">
      Workshops <span class="text-primary-300">EN VIVO </span>
    </h2>
    <p class="mb-12 max-w-4xl mx-auto lg:text-lg">
      Desarrolla tu potencial con talleres en vivo personalizados para devs.
      Aprende en tiempo real, aplica en tus proyectos y destaca
      profesionalmente.
    </p>
    <div class="list grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {workshopsList.map((item) => <WorkshopCard {...item} />)}
    </div>
  </section>

  <style></style>
</Layout>
