---
import Link from "./Link.astro";
---

<section
  class="hero flex flex-col gap-6 md:gap-8 py-32 px-6 md:text-center md:py-80"
>
  <h1
    class="text-4xl text-black/80 dark:text-white font-bold md:max-w-3xl md:mx-auto md:text-6xl lg:max-w-8xl"
  >
    Unidos por el código, <span class="text-primary-300"
      >juntos en cada error</span
    >
  </h1>
  <p class="text-black dark:text-light-gray text-base md:text-xl">
    Aprende y comparte conocimiento con otros devs de la industria
  </p>
  <!-- <div class="actions mt-4 flex gap-x-4 justify-center">
    <Link href="/cursos/react" variant="fill"> Únete</Link>
    <Link href="/cursos/react" variant="outline"> Nosotros</Link>
  </div> -->
</section>
