<section class="hero flex flex-col gap-6 py-16 px-6 md:text-center md:py-32">
  <h1
    class="text-4xl text-white font-bold md:max-w-[496px] md:mx-auto md:text-5xl"
  >
    Unidos por el código, <span class="text-primary-300"
      >Juntos en cada error</span
    >
  </h1>
  <p class="text-light-gray text-sm lg:text-lg">
    Aprende y comparte conocimiento con otros devs de la industria
  </p>
  <div class="actions mt-8">
    <a
      class="bg-primary-400 rounded-lg p-3 border border-light-gray text-black"
      target="_blank"
      href="https://discord.com/invite/ySwYnQaveH">Únete</a
    >
    <a
      class="rounded-lg p-3 border border-light-gray text-white"
      href=""
      target="_blank">Nosotros</a
    >
  </div>
</section>
