---

---

<div class="rounded-lg border border-black-border flex flex-col gap-4">
  <div class="job-description p-6">
    <div class="job-info">
      <p class="text-white text-[14px] font-semibold md:text-base lg:text-lg">
        Senior Frontend Developer
      </p>
      <p
        class="text-[11px] font-normal text-light-gray md:text-[14px] lg:text-base"
      >
        TechCorp Inc
      </p>
    </div>
    <div class="job-perks mt-5 flex flex-wrap gap-2">
      <span
        class="rounded-full border border-black-border px-4 py-2 text-[9px] text-light-gray md:text-xs"
        >Full Time</span
      >
      <span
        class="rounded-full border border-black-border px-4 py-2 text-[9px] text-light-gray md:text-xs"
        >Senior</span
      >
      <span
        class="rounded-full border border-black-border px-4 py-2 text-[9px] text-light-gray md:text-xs"
        >Horario flexible</span
      >
    </div>
  </div>
  <div
    class="job-salary border-t border-black-border p-6 flex justify-between items-center"
  >
    <div class="left">
      <p class="text-[11px] text-white font-semibold md:text-base lg:text-lg">
        $2500 - $4500
      </p>
      <p class="text-[11px] font-normal text-light-gray md:text-[14px]">
        Ubicación: Remoto
      </p>
    </div>
    <div class="right">
      <a
        class="rounded-lg p-3 border border-primary-300 text-white text-[11px]"
        target="_blank"
        href="">Aplicar</a
      >
    </div>
  </div>
</div>
