---
interface Props {
  href?: string;
  variant: "fill" | "outline" | "none";
  target?: "_blank" | "_self";
}

const { href, variant, target = "_self" } = Astro.props;

const buttonClasses =
  variant === "fill" ? "bg-primary-400 text-black" : "text-white";

const buttonBorder = variant === "none" ? "" : "p-3 border border-light-gray";
---

<a
  class=`block w-fit rounded-lg ${buttonBorder} ${buttonClasses}`
  href={href}
  target={target}
>
  <slot />
</a>
