---
import { Image } from "astro:assets";
import logoDark from "../../public/logo-dark.svg";
import burguer from "../../public/burguer.svg";
import Link from "./Link.astro";
---

<header>
  <nav
    class="flex justify-between px-4 py-2 items-center w-full bg-light-black relative max-w-6xl mx-auto"
  >
    <div class="left">
      <Link href="/" variant="none">
        <Image src={logoDark} alt="Coding Latam" />
      </Link>
    </div>
    <div class="right">
      <Image class="btnMenu md:hidden" src={burguer} alt="Menu" />
      <span id="close" class="hidden btnMenu absolute top-2 right-2 z-20"
        >X</span
      >
      <ul
        class="hidden flex-col justify-center items-center bg-black-border py-6 px-4 gap-6 absolute w-full left-0 top-0 md:relative md:flex md:flex-row md:bg-transparent"
        id="nav-links"
      >
        <li>
          <Link href="/cursos" variant="none">Cursos</Link>
        </li>
        <li>
          <Link href="/proyectos" variant="none">Proyectos</Link>
        </li>
        <li>
          <Link href="/empleos" variant="none">Empleos</Link>
        </li>
      </ul>
    </div>
  </nav>
</header>
<style>
  .visible {
    display: flex;
  }
</style>

<script>
  const burger = document.querySelectorAll(".btnMenu");
  const navLinks = document.getElementById("nav-links");
  const closeButton = document.getElementById("close");

  burger?.forEach((element) => {
    element.addEventListener("click", () => {
      navLinks?.classList.toggle("hidden");
      navLinks?.classList.toggle("flex");
      closeButton?.classList.toggle("hidden");
    });
  });
</script>
