<footer>
    <section class="flex justify-center items-center my-32">
        <div class="border border-gray-500 rounded-md w-1/2  px-20 py-10 bg-[#1A1A1A] ">
            <h4 class="text-3xl text-center mb-9 font-bold">Recibe los nuevos cursos y talleres antes que nadie</h4>
            <div class="gap-5 flex justify-center ">
                <input class=" pl-2 bg-transparent border border-secondary-600 rounded-md" type="text" placeholder="Email">
                <button class="bg-primary-300 py-1 px-4 rounded-md">Unirme</button>
            </div>
        </div>
    </section>
    <section>
        <div>
            <img src="./svg/logo.svg" alt="">
            <section id="footer-newsletter" class="flex gap-2 mt-10 ">
                <a href="">
                    <img src="./svg/hugeicons_instagram.svg" alt="">
                </a>
                <a href="">
                    <img src="./svg/hugeicons_instagram.svg" alt="">
                </a>
                <a href="">
                    <img src="./svg/facebook.svg" alt="">
                </a>
                <a href="">
                    <img src="./svg/facebook.svg" alt="">
                </a>
            </section>
            <h5>© Coding Latam 2024. Todos los derechos reservados</h5>
        </div>
    </section>
</footer>